@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600);

$maxWidth: 1440;

@mixin adaptive-font($defSize, $mobSize) {
  $addSize: $defSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767.98px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media (min-width: 767.98px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

@mixin for-phone-only {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin for-tablet-portrait {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin for-tablet-landscape {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin for-desktop {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin for-big-desktop {
  @media (max-width: 1920px) {
    @content;
  }
}
